search-container {
    display: flex;
    align-items: center;
}

.horse-image-container {
    display: flex; /* Use flexbox to arrange images horizontally */
}

.horse-img p{
    border: 0.5px solid black;  
    text-align:center;
    font-size:20px;       
}

.horse-img img {
    border: 2px solid #000; /* Add a border to the images */
    margin: 5px; /* Add some margin between images for spacing */
    width: 200px; /* Set a fixed width for the images */
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Control how the image content fits within the fixed dimensions */
}

.label {
    margin-right: 10px;
}

.form-label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 1.5rem;
}

.editable {
    background-color: white;
}

.readonly {
    background-color: lightgrey;
}

.input-person{
    width:200px;
}

.input-cost {
    width: 150px;
}

.inline-container {
    display: flex;
    align-items: center; /* Vertically align items */
}

.notification-container {
    border: 1px solid black; /* Add a small, thin border */
    padding: 10px; /* Add padding to space content from the border */
    margin-left: 10px; /* Adjust spacing as needed */
}

.message-notification {
    margin-top: 5px; /* Adjust spacing between notifications */
}

}


.select-maintenance {
    width: auto;    
    padding:7px;    
}

.display-textarea {
    border: 1px solid #ccc;
    width: 100%;
    min-height: 15px;
    padding: 6px;
    font-size: 14px;
    resize: vertical; /* Allow vertical resizing if needed */
    background-color: #f5f5f5;
}

input {
    width: 300px; /* Adjust the width as needed */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



input[type="date"] {
    width: 150px; /* Adjust the width as needed */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea{
    width:400px;
}

.notification {
    padding: 10px;
    border-radius: 5px;
    margin-bottom : 20px;
}

.notification-green {
    background-color: lightgreen;
}

.notification-red {
    background-color: lightcoral;
}

.prodcontainer-holder {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1px;
    margin: 20px;
}

.prodcontainer-items {
    border: 1px solid #ccc;
    padding: 5px;
    width: auto;
    cursor: pointer;
    text-align: center;
    background-color: lightgray;
    border-radius: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px; /* Adjust the desired spacing here */
    text-align: left;
}

li {
    list-style-type: disc;
    padding-left: 2px; /* Adjust the desired spacing here */
}

.prodcontainer-heading {
    background-color: lightblue;
    border-color: red;
    border-width:thick;
    border-style: solid;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
}

.prodcontainer-order {
    font-size: 16px;
    text-align: left;
    margin-bottom: 2px;
}

.prodcontainer-sku {
    font-size: 14px;
    font-weight: bolder;
}


.lamp {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-lamp {
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;    
}

.red-lamp {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;   
}

time {
    border: 1px solid;
    background-color: rgba(220, 220, 220, 0.2); /* Adjust the RGBA values and opacity */
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    width: 100px;
    font-weight: lighter;
}

.noteBoxes {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
}

.type1 {
    border-color: #E76F51;
    background-color: rgba(231, 111, 81, 0.1);
}

.type2 {
    border-color: #2A9D8F;
    background-color: rgba(42, 157, 143, 0.1);
}

.type3 {
    border-color: #0096C7;
    background-color: rgba(0, 150, 199, 0.1);
}

.type4 {
    border-color: #00B353;
    background-color: rgba(0, 179, 83, 0.1);
}

.picture {
    width: 15px;
    padding-right: 10px;
}

p {   
    background-blend-mode: color-dodge;
    border-radius : 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding:10px 2px 2px 10px;
}

/*h3 {
    font-family: Roboto, sans-serif;
    font-size: 12px;
}*/

.table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
} 

.table-container {
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    border-radius: 10px;   
    overflow: hidden;
    margin:20px 2px 20px 5px;
}

/**/
table td {
    background-color: #fff;
    border: 1px solid #999;
    padding: 1px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    align-items : center;
    font-weight: bold;
}
/**/
.table-primary th {
    background-color: #002664;    
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

table tr:nth-child(even) td {
    background-color: #f2f2f2;   
    align-items : center;
}

table tr:hover td {
    background-color: #ffedcc;
    align-items: center;
}

.textbox-service-status{
    border: 1px solid black;
    padding: 5px;
    margin-left:10px;
    border-radius : 5px;
}

.div-button-pairs {
    margin-bottom: 20px;
}

.div-service-container {    
    padding: 20px;
    text-align:center;
    border: 1px solid grey;
    border-radius: 10px;   
}

.btn {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: middle;
}

/* Add the following CSS to your main stylesheet or component's style section */

/* Thumbnail style */
img {
    cursor: pointer; /* Show pointer cursor on hover to indicate it's clickable */
}

/* Image popup style */
.image-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.image-popup {
    max-width: 90%;
    max-height: 90%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

    .image-popup img {
        max-width: 100%;
        max-height: 100%;
    }

.image-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.nav-link i {
    margin-right: 10px;
}







